html,
body,
main,
.row,
.col {
	height: 100%;
}

body {
	background: #191927;
	font-family: "Open Sans", sans-serif;
	color: #ccc;
}

a {
	text-decoration: none;
	color: #ccc;
}

#nav {
	background-color: #181826;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 80px;
	line-height: 80px;
	position: fixed;
	z-index: 999;
}

#title-logo {
	text-align: left;
	font-weight: 100;
	font-size: 28px;
	padding: 0 80px 0 40px;
	max-width: 250px;
}

#color-change {
	font-weight: 800;
	color: #2ebada;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	padding: 30px 0 5px 0;
}

#search-bar {
	padding-left: 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
#search {
	width: 400px;
	padding: 30px 0 7px 0;
	font-size: 16px;
	color: #ccc;
	border: none;
	border-bottom: 1px solid #666;
	background: none;
	outline: none;
}

#search-button {
	height: 30px;
	width: 30px;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	outline: none;
	margin-left: -5px;
}

.fas,
.fa-search {
	color: #ccc;
	font-size: 14px;
}

#links {
	text-align: right;
	padding: 0 55px;
}

#dashboard-link {
	background: #28b0ce;
	color: #fff;
	padding: 15px 30px;
	font-weight: 600;
	border-radius: 30px;
	margin-left: 20px;
}

.sideBarTitle {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	padding: 5px;
	box-sizing: border-box;
	transition: all 0.5s;
	display: flex;
	justify-content: space-between;
}

.menuIcon {
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	font-size: 35px;
	cursor: pointer;
	transition: all 0.5s;
	user-select: none;
}

.menuIcon:hover {
	color: #b70707;
}

#main-section {
	padding: 0;
	margin: 0;
	display: flex;
}

#filters {
	background: rgb(25, 25, 38);
	background: linear-gradient(180deg, rgba(25, 25, 38, 1) 10%, rgba(47, 47, 63, 1) 100%);
	height: 100% !important;
	transition: all 0.5s;
	padding: 100px 10px;
}

h3 {
	padding-top: 15px;
	padding-left: 10px;
}

#filters form {
	line-height: 1.5em;
	padding-left: 10px;
}

#content {
	margin-top: 100px;
	transition: all 0.5s;
	padding: 0 30px;
}

#main-section.open #filters {
	width: 250px;
}

#main-section.open #content {
	width: calc(100vw - 250px);
}

#main-section.closed #filters {
	width: 50px;
}

#main-section.closed #filters form {
	visibility: hidden;
	width: 0;
}

#main-section.closed #content {
	width: calc(100vw - 50px);
}

#main-section.closed .menuIcon {
	transform: rotate(180deg);
}

#main-section.closed .sideBarTitle .heading {
	visibility: hidden;
	width: 0;
}

.poster {
	position: relative;
	display: inline-block;
	margin: 10px;
}

.poster img {
	width: 200px;
	transition: all 0.5s;
}

.posterBody {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	visibility: hidden;
}

.poster .posterBody {
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, visibility 0.5s;
}

.poster .posterTitle {
	text-align: center;
	color: #fff;
	padding: 50px 10px 60px 10px;
	font-weight: 900;
	font-size: 18px;
}

.poster:hover .posterBody {
	visibility: visible;
	opacity: 1;
}

.posterBody > .posterButtons {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.posterBody > .posterButtons > button {
	flex-grow: 1;
	border: none;
	height: 30px;
	color: #fff;
	background: none;
	outline: none;
	font-size: 12px;
	text-transform: uppercase;
	margin: 5px 0;
}

.posterBody > .posterButtons > button:hover {
	color: #2ebada;
}

.posterBody > .posterButtons > button:active {
	color: #444;
}

.carousel {
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	height: 400px;
}

.carousel div {
	white-space: normal;
}
